version: '3.8'
services:
  trilium:
    container_name: trilium
    image: "zadam/trilium:latest"
    environment:
      - TRILIUM_DATA_DIR=/home/node/trilium-data
    ports:
      - "8088:8088"
    volumes:
      - "./trilium:/home/node/trilium-data"
    restart: unless-stopped
    network_mode: "host"
  # IoT container
  mosquitto:
    container_name: mosquitto
    image: eclipse-mosquitto
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/log:/mosquitto/log
      - ./mosquitto/data:/mosquitto/data
    restart: unless-stopped
    network_mode: "host"
  influxdb:
    image: influxdb:latest
    container_name: influxdb
    ports:
      - "8086:8086"
    volumes:
      - ./influxdb/data:/var/lib/influxdb2:rw
      - ./influxdb/config:/etc/influxdb2:rw
    restart: unless-stopped
    networks:
      - iot
    depends_on:
      - mosquitto
  telegraf:
    image: telegraf
    container_name: telegraf
    ports:
      - '8125:8125'
    volumes:
      - ./telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro
    restart: unless-stopped
    networks:
      - iot
    depends_on:
      - influxdb
  grafana:
    container_name: grafana
    build:
      context: .
      dockerfile: grafana.Dockerfile
    ports:
      - '3000:3000'
    hostname: grafana
    restart: unless-stopped
    volumes:
      - ./grafana/storage:/var/lib/grafana
      - ./grafana/plugins:/var/lib/grafana/plugins
    depends_on:
      - mosquitto
      - influxdb
    networks:
      - iot
  homeassistant:
    container_name: homeassistant
    image: 'ghcr.io/home-assistant/home-assistant:stable'
    volumes:
      - ./homeassistant/config:/config
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
    privileged: true
    network_mode: "host"
    depends_on:
      - mosquitto
  zigbee2mqtt:
    container_name: zigbee2mqtt
    restart: unless-stopped
    image: koenkk/zigbee2mqtt
    volumes:
      - ./zigbee2mqtt/data:/app/data
      - /run/udev:/run/udev:ro
    ports:
      - 8080:8080
    environment:
      - TZ=Europe/Berlin
    devices:
      - /dev/ttyUSB0:/dev/ttyUSB0
    depends_on:
      - mosquitto
    networks:
      - iot
  # network container
  wireguard:
    image: lscr.io/linuxserver/wireguard:latest
    container_name: wireguard
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    env_file:
      - ./wireguard/.env
    volumes:
      - ./wireguard/config:/config
      - /lib/modules:/lib/modules
    ports:
      - 51820:51820/udp
    sysctls:
      - net.ipv4.conf.all.src_valid_mark=1
    restart: unless-stopped
networks:
  iot:
